
<div class="header d-flex justify-content-between align-items-center px-4 py-3 bg-dark text-white shadow-sm header-animated">
  <div class="text-info fw-bold fs-5 flex-grow-1 text-truncate me-3" style="margin-left: 0px;margin-bottom: 0px; font-size: 1.54rem;">
    👋 Welcome, <%= current_user.name %>!
  </div>
</div>
